/*Fonts*/

@font-face {
    font-family: 'RedHat';
    src: local('RedHat'), local('RedHat_Medium'), url('./../font/RedHatDisplay-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'RedHat';
}

h1 {
    font-size: 3em;
    letter-spacing: 0.2em;
}

aside, main {
    font-size: 1.1em;
}

footer {
    font-size: 1em;
}

/*Position*/

.wrapper {
    display: grid;
    grid-template-columns: 10% 1fr;
    column-gap: 10px;
}

header {
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img {
    width: 140px;
    height: 100px;
}

.state {
    flex-grow: 1;
    text-align: center;
}

h1 {
    margin: 10px auto;
}

aside a {
    display: block;
    padding: 5px;
    text-align: center;
}

main {
    text-align: justify;
}

main img {
    width: 100%;
    height: 350px;
}

ul {
    margin: 0px 0px 5px 1px;
    padding: 0px;
    font-weight: 300;
}

footer {
    grid-column: 1/4;
    text-align: center;
}

/*Colors*/

h1 a {
    text-decoration: none;
    color: rgb(8, 63, 165);
}

aside a {
    text-decoration: none;
    background-color: #94b4fa;
    border: 1px solid black;
    color: #130dd9;
}

aside a:hover {
    background-color: rgb(10, 53, 245);
    color: white;
}

footer {
    background-color: rgb(219, 232, 255);
}

/*Table*/

table {
    font-size: 1.1em;
    border: 1px solid grey;
    text-align: center;
    width: 100%;
}

thead tr th {
    background-color: ivory;
}

tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
}
tr:nth-child(odd) {
    background-color: rgb(223, 223, 223);
}

.months {
    width: 25%;
}

.average, .high, .low, .rec-high, .rec-low {
    width: 15%;
}

/*Breakpoints: 1200px/920px/768px/600px/450px*/

@media screen and (max-width: 1200px) {
    .wrapper {
        grid-template-columns: 15% 1fr;
    }
    main img {
        height: 300px;
    }
}

@media screen and (max-width: 920px) {
    main, aside {
        font-size: 1em;
    }
    main img {
        height: 270px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 17% 1fr;
    }
    main, aside, footer {
        font-size: 0.9em;
    }
    h1 {
        font-size: 2.5em;
        margin: 5px auto;
    }
    main img {
        height: 210px;
    }
    header img {
        width: 126px;
        height: 90px;
    }
}

@media screen and (max-width: 600px) {
    
    h1 {
        font-size: 2.3em;
    }
    main img {
        height: 170px;
    }
    header img {
        width: 113px;
        height: 81px;
    }
    aside a {
        padding: 4px;
    }
}

@media screen and (max-width: 450px) {
    
    .wrapper {
        grid-template-columns: 20% 1fr;
        column-gap: 3px;
    }
    main, footer {
        font-size: 0.8em;
    }
    table, aside {
        font-size: 0.7em;
    }
    h1 {
        font-size: 2.1em;
        letter-spacing: 0.1em;
    }
    main img {
        height: 140px;
    }
    header img {
        width: 100px;
        height: 72px;
    }
    aside a {
        padding: 3px;
    }
}